<!DOCTYPE html>
<html lang="en">
    <head>{{ larakit_page_head()|raw }}
    </head>
    <body {{ larakit_page_body_attributes()|raw }}>
        {{ layout|raw }}
        {{ larajs()|raw }}
    </body>
</html>